@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors : (
    'primary' : #0b749a,
    'info' : #008e9b,
    'danger' : #c34a36
);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/card";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/utilities/api";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  width: 100%;
}

.wallpaper {
    background-size: cover;
    width: 100vw;
    height: 100vh;

    &-container {
        position: fixed;
        top : 0;
        bottom: 0;
        left : 0;
        right : 0;
        z-index: -10;
        opacity: .8;
    }
}

.main {
    display: flex;
    align-items: center;
}

.details-card{
    height: 80vh;
    width: 50vw;
    background: rgba(255, 255, 255, 0.4);
    margin: 1rem 1.5rem;
    padding: 20px;
    border: none;
    border-radius: 1rem; 
    backdrop-filter: blur(6px);

    .details-country{
        width: 20%;
        padding: .4rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap : .3rem;
        border-radius: .4rem; 
        background: rgba(178, 178, 178, 0.473);
    }

    .details-top{
        height : 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;  

        div {
            display: flex;
            justify-content: center;
            gap: .5rem;
        }
    }

    .details-bottom {
        height: 25%;
        background: rgba(178, 178, 178, 0.473);
        border-radius: .5rem;
        padding: 2rem;
        display: flex;
        align-items: center;

        div {
            width : 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
        }
    }
}

.status-card {
    height: 80vh;
    width: 50vw;
    background: rgba(255, 255, 255, 0.1);
    color : white;
    margin: 1rem 1.5rem;
    padding: 20px;
    border: none;
    border-radius: 1rem; 
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .status-details{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .description {
        margin-top: 20px;
        width: 49%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap : .5rem;
        border-radius: .4rem; 
        background: rgba(178, 178, 178, 0.473);
    }

    .cloudiness{
        margin-top: 20px;
        width: 49%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: .4rem; 
        background: rgba(178, 178, 178, 0.473);
    }

    .temps { 
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap : 3rem;
        border-radius: .4rem; 
        background: rgba(178, 178, 178, 0.473);

        div {
            display: flex;
            align-items: center;
        }
    }
}

.initial-card{
    height: 15vh;
    width: 90vw;
    background: rgba(255, 255, 255, 0.1);
    color : rgba(0, 0, 0, 0.663);
    margin: 1rem auto;
    border: none;
    border-radius: 1rem; 
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bi {
    font-size: 10rem;
    line-height: 1rem;
}

.sunny {
    color: #FFDF22;
}

.broken {
    color : rgb(140, 135, 135);
}

.search-form{
    display: flex;
    align-items : center;
    margin: 1rem 2rem 0;
    gap : 1rem;
}

.search-input {
  width: 95%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: .4rem;

  .MuiOutlinedInput-root {
    & fieldset {
      border: none;
    }
    &:hover fieldset,
    &.Mui-focused fieldset {
      border: none;
    }
  }

  .MuiInputLabel-root {
    opacity: 0 !important;
    transform: translateY(0) !important;
    height: 0 !important;
    overflow: hidden;
    pointer-events: none;
  }

  .MuiAutocomplete-clearIndicator {
    opacity: 1 !important;
    visibility: visible !important;
  }

}


.search-btn:hover{
    background-color: darken($color: #0b749a, $amount: 5%);
}

.cel, .fer{
    cursor: pointer;
}